<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.web.mapper.ShpmachudMapper">
    <resultMap id="ShpmachudResult" type="com.ruoyi.web.domain.Shpmachud">
        <id property="id" column="id"/>
        <result property="cpo" column="cpo"/>
        <result property="cls" column="cls"/>
        <result property="product_id" column="product_id"/>
        <result property="device_id" column="device_id"/>
        <result property="mold_id" column="mold_id"/>
        <result property="dowid" column="dowid"/>
        <result property="dotime" column="dotime"/>
        <result property="endwid" column="endwid"/>
        <result property="downcls" column="downcls"/>

    </resultMap>
    <sql id="selectShpmachud">
        select * from shpmachud
    </sql>

    <select id="selectShpmachudList" parameterType="Shpmachud" resultMap="ShpmachudResult">
    select * from shpmachud
        where 1=1
        <if test='product_id!= null'>
            and product_id = #{product_id}
        </if>
        <if test='cpo!= null'>
            and cpo = #{cpo}
        </if>
        <if test='device_id!= null'>
            and device_id = #{device_id}
        </if>
        <if test='mold_id!= null'>
            and mold_id = #{mold_id}
        </if>

    </select>
    <select id="selectShpmachudList2" parameterType="Shpmachud" resultMap="ShpmachudResult">
        select * from shpmachud
        where 1=1
        and cls !="生产"
    </select>

    <select id="selectShpmachudById" parameterType="String" resultMap="ShpmachudResult">
        <include refid="selectShpmachud"/>
        where device_id = #{device_id}
        and product_id = #{product_id}
        and cpo =#{cpo}
        and cls = "生产"
        limit 1
    </select>

    <update id="updateShpmachud2" parameterType="Shpmachud">
        update shpmachud
        <set>
            downcls = #{downcls}
        </set>
        where id = #{id}
    </update>






</mapper>